body {
    font-family: Arial, sans-serif;
    background-color: #e24141; /* Fallback color if the image is not loaded */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://i.pinimg.com/originals/31/ca/2b/31ca2bcf105003bf97be1aaf9e564df6.jpg"); /* Background image URL */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image in the viewport */
    background-repeat: no-repeat; /* Do not repeat the image */
}
  
  .container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #312f2f;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" width="8px" height="8px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path d="M951.127 215.983L804.011 369.134c-15.417 15.419-40.355 15.419-55.772 0L512 136.154 275.764 369.134c-15.417 15.419-40.355 15.419-55.772 0L72.877 215.983c-15.417-15.419-15.417-40.356 0-55.773l146.915-146.913c15.419-15.417 40.356-15.417 55.773 0l147.808 147.808 147.807-147.808c15.417-15.417 40.354-15.417 55.772 0l146.914 146.913c15.417 15.417 15.417 40.354 0 55.773z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
  }
  
  input[type="submit"] {
    background-color: #0ce213;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  button a {
    text-decoration: none;
    color: #333;
  }
  
  button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #08cdaf;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #dee4ea;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #0d1dd0;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  a:hover {
    background-color: #08cdaf;
  }
  